@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?89d2e1');
  src:  url('fonts/icon.eot?89d2e1#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?89d2e1') format('truetype'),
    url('fonts/icon.woff?89d2e1') format('woff'),
    url('fonts/icon.svg?89d2e1#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="v-icon-"], [class*="v-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-icon-api:before {
  content: "\e900";
}
.v-icon-auth:before {
  content: "\e901";
}
.v-icon-log:before {
  content: "\e902";
}
.v-icon-sql:before {
  content: "\e903";
}
.v-icon-sys:before {
  content: "\e904";
}
.v-icon-user:before {
  content: "\e905";
}
